.windowContent {
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

.windowOptions {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  font-size: 13.3px;
  z-index: 3;
}
.windowOptions > button {
  border: none;
  outline: inherit;
  background-color: white;
}
.windowOptions > button:hover {
  background-color: lightgrey;
}
.windowOptions > input {
  width: 40px;
}
.windowOptions > span {
  margin-left: 10px;
  line-height: 20px;
}

#appSettingsContent ul {
  position: absolute;
  left: 0px;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#appSettingsContent ul li {
  margin-left: 10%;
  margin-bottom: 5px;
}
#appSettingsContent ul li:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#appSettingsContent #backgroundSub #imageList img {
  height: 100px;
  width: 100px;
  margin: 2px;
}
#appSettingsContent #backgroundSub #imageList img:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #backgroundSub #imgInvalid {
  color: red;
}
#appSettingsContent #taskbarSub #colorList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#appSettingsContent #taskbarSub .red {
  background-color: red;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .red:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .orange {
  background-color: orange;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .orange:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .yellow {
  background-color: yellow;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .yellow:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .green {
  background-color: green;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .green:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .blue {
  background-color: blue;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .blue:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .purple {
  background-color: purple;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .purple:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .pink {
  background-color: pink;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .pink:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub .black {
  background-color: black;
  height: 50px;
  width: 50px;
  margin: 2px;
}
#appSettingsContent #taskbarSub .black:hover {
  margin: 0px;
  border: 2px solid grey;
}
#appSettingsContent #taskbarSub #colorCustom {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
#appSettingsContent .sub {
  display: none;
  position: absolute;
  left: 150px;
  right: 0px;
}
#appSettingsContent .sub:first-of-type {
  display: block;
}

#appNotepadContent #notepadOptions {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  font-size: 13.3px;
}
#appNotepadContent #notepadOptions #notepadOptions-Divider {
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  width: 20px;
}
#appNotepadContent #notepadOptions #notepadOptions-SaveInput {
  position: absolute;
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 200px;
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  z-index: 2;
}
#appNotepadContent #notepadOptions #notepadOptions-SaveInput > span, #appNotepadContent #notepadOptions #notepadOptions-SaveInput > input {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#appNotepadContent #notepadOptions > button {
  border: none;
  outline: inherit;
  background-color: white;
}
#appNotepadContent #notepadOptions > button:hover {
  background-color: lightgrey;
}
#appNotepadContent #notepadOptions > input {
  width: 40px;
}
#appNotepadContent #notepadOptions > span {
  margin-left: 10px;
  line-height: 20px;
}
#appNotepadContent textarea {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98%;
  height: 95%;
  font-size: 15px;
  font-family: Arial;
  margin: auto;
  outline: inherit;
  border: none;
  resize: none;
  overflow: none;
}

#appMusicPlayerContent #tableWrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
}
#appMusicPlayerContent #tableWrapper table {
  position: absolute;
  width: 100%;
  border-collapse: collapse;
}
#appMusicPlayerContent #tableWrapper table tr:hover {
  background-color: lightgrey;
}
#appMusicPlayerContent #tableWrapper table td {
  padding: 10px;
}
#appMusicPlayerContent #tableWrapper table td:first-child {
  width: 20px;
  text-align: center;
}
#appMusicPlayerContent #tableWrapper table td:first-child:hover {
  background-color: skyblue;
}
#appMusicPlayerContent #tableWrapper table td:last-child {
  width: 20px;
  text-align: center;
}
#appMusicPlayerContent #musicPlayerControls {
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  height: 80px;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-slider {
  position: absolute;
  height: 5px;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-slider #custom-handle {
  width: 30px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  transform-origin: center;
  transform: translateX(-25%);
  background-color: skyblue;
  text-align: center;
  outline: inherit;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-slider .ui-slider-range {
  background-color: PaleTurquoise;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-volume {
  position: absolute;
  height: 5px;
  width: 100px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: calc(50% - 225px);
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-volume #custom-handle2 {
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  transform-origin: center;
  transform: translateX(50%);
  background-color: skyblue;
  border-radius: 90px 90px 90px 90px;
  text-align: center;
  outline: inherit;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-volume .ui-slider-range {
  background-color: PaleTurquoise;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-volume span {
  position: absolute;
  width: 20px;
  transform-origin: center;
  transform: translate(-130%, -50%);
  filter: grayscale(100%);
  float: left;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-time {
  position: absolute;
  height: 40px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  left: calc(50% - 130px);
  line-height: 40px;
  font-size: 20px;
}
#appMusicPlayerContent #musicPlayerControls button {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 90px 90px 90px 90px;
  border: none;
  outline: inherit;
  background-color: skyblue;
  text-align: center;
  color: white;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-toggle {
  height: 60px;
  width: 60px;
  left: 0;
  right: 0;
  line-height: 60px;
  font-size: 30px;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-back {
  height: 40px;
  width: 40px;
  left: calc(50% - 80px);
  line-height: 40px;
  font-size: 20px;
}
#appMusicPlayerContent #musicPlayerControls #musicPlayerControls-forward {
  height: 40px;
  width: 40px;
  right: calc(50% - 80px);
  line-height: 40px;
  font-size: 20px;
}

#appPaintContent #paintOptions-Color {
  height: 90%;
  width: 50px;
  border: none;
  background-color: white;
}
#appPaintContent #paintOptions-Divider {
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  width: 20px;
}
#appPaintContent #paintOptions-NewInput {
  position: absolute;
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 200px;
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  z-index: 2;
}
#appPaintContent #paintOptions-NewInput > span, #appPaintContent #paintOptions-NewInput > input {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#appPaintContent #paintOptions-SaveInput {
  position: absolute;
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 200px;
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  z-index: 2;
}
#appPaintContent #paintOptions-SaveInput > span, #appPaintContent #paintOptions-SaveInput > input {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#appPaintContent #paintTools {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 0;
  bottom: 0;
  width: 40px;
}
#appPaintContent #paintTools button {
  border: none;
  outline: inherit;
  height: 40px;
  padding: 0;
  background-color: white;
}
#appPaintContent #paintTools button img {
  height: 100%;
  width: 100%;
  margin: auto;
}
#appPaintContent #paintTools button:hover {
  background-color: lightgrey;
}
#appPaintContent #canvasDataWrapper {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}
#appPaintContent #canvasDataWrapper #canvasCursorPos {
  position: absolute;
  bottom: 0;
  left: 0;
}
#appPaintContent #canvasDataWrapper #canvasSizeDisplay {
  position: absolute;
  bottom: 0;
  right: 0;
}
#appPaintContent #paintCanvas {
  position: relative;
  top: 20px;
  left: 40px;
  right: 0;
  bottom: 0;
  margin: 10px;
  border: 1px dashed grey;
}

#appImageViewerContent .imageViewer-Controls {
  position: absolute;
  font-size: 30px;
  width: 20px;
  background-color: lightgrey;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  outline: inherit;
  top: 50%;
  text-align: center;
  overflow: hidden;
}
#appImageViewerContent .imageViewer-Controls:hover {
  background-color: skyblue;
}
#appImageViewerContent #imageViewer-Next {
  right: 0;
}
#appImageViewerContent > img {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  margin: auto;
  border: 1px solid grey;
}

#appTaskManagerContent ol {
  width: 100%;
  height: 90%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
#appTaskManagerContent ol li {
  padding: 5px;
}
#appTaskManagerContent ol li:hover {
  background-color: lightblue;
}
#appTaskManagerContent ol .ui-selecting {
  background-color: lightblue;
}
#appTaskManagerContent ol .ui-selected {
  background-color: skyblue;
}
#appTaskManagerContent button {
  position: absolute;
  bottom: 40px;
  right: 10px;
}

/*# sourceMappingURL=appsContentCSS.css.map */
